@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Readex Pro";
}

.description-heading {
  @apply mt-4 text-neutral-600 text-base lg:text-xl font-medium lg:font-semibold;
}
